@use "../foundation" as *;

.l-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.5rem 2rem;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  &__logo {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__nav {
    display: flex;
    gap: 2rem;
  }

  @include respond(md) {
    padding: 1rem;

    &__nav {
      gap: 1rem;
      font-size: 0.9rem;
    }
  }
}
